---
import Base from '../layouts/Base.astro';
import ArticleBody from '../components/ArticleBody.astro';
import Card from '../components/Card.astro';

const posts = import.meta.glob('./weeks/*.{md,mdx}');
---

<Base title="William's PHYS S-12 page">
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js" slot="head"></script>
  <link
    href="https://unpkg.com/aos@2.3.1/dist/aos.css"
    rel="stylesheet"
    slot="head"
  />

  <div slot="body">
    <div class="banner">
      <h1>PHYS S-12: Intro to digital fabrication</h1>
    </div>

    <main>
      <ArticleBody>
        <h1>Welcome 👋</h1>
        <p>This site contains:</p>
        <ul>
          <li>
            An <code>index.html</code> page that contains links to each assignment
            page (that's this one!)
          </li>
          <li>
            <a href="/about">An "About" page</a>, including a short paragraph
            about yourself
          </li>
          <li>Some customization using HTML and CSS</li>
          <li>A <a href="/weeks/week-1">final project proposal</a></li>
        </ul>

        <p>List of weeks:</p>
        <ol type="1">
          {
            Object.entries(posts).map(([name, fun]) => {
              let path = name.replace(/\.[^/.]+$/, '');
              return (
                <li>
                  <code>
                    <a href={path}>{path}</a>
                  </code>
                </li>
              );
            })
          }
        </ol>
      </ArticleBody>
    </main>
  </div>

  <script defer slot="after-body">
    AOS.init();
  </script>
</Base>

<style>
  body {
    margin: 0;
    background-attachment: fixed;
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1em;

    background-color: #fff;
    padding-bottom: 200px;
  }

  .banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0em 2em 0em 2em;
    box-sizing: border-box;

    color: #fff;
  }

  .banner h1 {
    max-width: 800px;
    margin: 0;
    font-weight: 900;
    font-size: 5em;
    word-wrap: break-word;

    background: linear-gradient(
      35deg,
      rgba(61, 52, 214, 1) 0%,
      rgba(49, 172, 78, 1) 55%,
      rgba(0, 212, 255, 1) 100%
    );
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
</style>
