---
import Base from '../layouts/Base.astro';
import ArticleBody from '../components/ArticleBody.astro';
import Card from '../components/Card.astro';

import { getCollection, getEntry, getEntries } from 'astro:content';

const allWeekPages = await getCollection('weeks');
---

<Base title="William's PHYS S-12 page">
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js" slot="head"></script>
  <link
    href="https://unpkg.com/aos@2.3.1/dist/aos.css"
    rel="stylesheet"
    slot="head"
  />

  <div slot="body">
    <div class="banner">
      <h1 class="fancy-text">PHYS S-12: Intro to digital fabrication</h1>
    </div>

    <main>
      <ArticleBody>
        <h1>Welcome 👋</h1>
        <p>
          As per <a
            href="https://nathanmelenbrink.github.io/intro-dig-fab/01_intro/index.html"
            >requirements</a
          >, this site contains:
        </p>
        <ul>
          <li>
            An <code>index.html</code> page that contains links to each assignment
            page (that's this one!)
          </li>
          <li>
            <a href="/about">An "About" page</a>, including a short paragraph
            about yourself
          </li>
          <li>Some customization using HTML and CSS</li>
          <li>A <a href="/weeks/week-1">final project proposal</a></li>
        </ul>

        <div class="card-grid">
          {
            allWeekPages.map(({ id, slug, body, data }) => {
              return (
                <a href={`/weeks/${slug}`} class="card">
                  <img src={data.image} />
                  <div>
                    <h2>{data.title}</h2>
                    <p>{data.blurb}</p>
                  </div>
                </a>
              );
            })
          }
        </div>
      </ArticleBody>
    </main>
  </div>

  <script defer slot="after-body">
    AOS.init();
  </script>
</Base>

<style>
  body {
    margin: 0;
    background-attachment: fixed;
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #fff;
  }
  main h1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0 1em;
    box-sizing: border-box;
  }
  .banner h1 {
    max-width: 600px;
    margin: 0;
    font-weight: 900;
    font-size: clamp(2em, 4vw, 5em);
    word-wrap: break-word;
    line-height: 1.2;
  }

  .card-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }
  @media only screen and (max-width: 440px) {
    /* Fewer columns on small screens */
    .card-grid {
      grid-template-columns: 1fr;
    }
  }
  .card {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden;

    background-color: #f8f8f8;
    border: 1px solid #ddd;
  }
  .card div {
    padding: 10px 20px;
  }
  .card div h2 {
    margin: 0;
    margin-bottom: 3px;
    overflow-wrap: anywhere;
  }
  .card div h2 a {
    color: #000;
    transition: color 0.1s;
  }
  .card div h2 a:hover {
    color: #888;
  }
  .card div h2 a::after {
    display: none;
  }
  .card div p {
    color: #444;
    font-size: 0.9em;
    line-height: 1;
    margin: 0;
  }

  /* Fancy text gradient animation */
  @media (prefers-reduced-motion: no-preference) {
    .fancy-text {
      --bg-size: 400%;
      background: linear-gradient(
          90deg,
          rgba(61, 52, 214, 1),
          rgba(49, 172, 78, 1),
          rgba(0, 185, 222, 1),
          rgba(61, 52, 214, 1)
        )
        0 0 / var(--bg-size) 100%;
      color: transparent;
      -webkit-background-clip: text;
      background-clip: text;
      animation: move-bg 60s infinite linear;
    }
    @keyframes move-bg {
      to {
        background-position: var(--bg-size) 0;
      }
    }
  }
</style>
