---
import Base from '../layouts/Base.astro';
import ArticleBody from '../components/ArticleBody.astro';
import Card from '../components/Card.astro';
---

<Base title="William's PHYS S-12 page">
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js" slot="head"></script>
  <link
    href="https://unpkg.com/aos@2.3.1/dist/aos.css"
    rel="stylesheet"
    slot="head"
  />

  <div slot="body">
    <div class="banner">
      <h1>PHYS S-12: Intro to digital fabrication</h1>
    </div>

    <main>
      <ArticleBody>
        <h1>Welcome 👋</h1>
        <p>This site contains:</p>
        <ul>
          <li>
            An <code>index.html</code> page that contains links to each assignment
            page
          </li>
          <li>An "About" page, including a short paragraph about yourself</li>
          <li>Some customization using HTML and CSS</li>
          <li>A final project proposal</li>
        </ul>
      </ArticleBody>
    </main>
  </div>

  <script defer slot="after-body">
    AOS.init();
  </script>
</Base>

<style>
  body {
    margin: 0;
    background: rgb(61, 52, 214);
    background: linear-gradient(
      35deg,
      rgba(61, 52, 214, 1) 0%,
      rgba(49, 172, 78, 1) 55%,
      rgba(0, 212, 255, 1) 100%
    );
    background-attachment: fixed;
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1em;

    background-color: #fff;
    padding-bottom: 200px;
  }

  .banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 15em 2em 2em 2em;
    box-sizing: border-box;

    color: #fff;
  }

  .banner h1 {
    max-width: 800px;
    margin: 0;
    font-weight: 900;
    font-size: 5em;
    word-wrap: break-word;
  }
</style>
