<nav>
  <div class="nav-container">
    <!-- Home -->
    <li class="pill"><a href="/">Home</a></li>

    <!-- Main links -->
    <ul class="main-links">
      <li class="pill"><a href="/about">About</a></li>
      <li class="pill"><a href="/weeks/week-1">Week 1</a></li>
    </ul>
  </div>
</nav>

<style>
  nav {
    width: 100%;
  }

  .nav-container {
    display: flex;
    width: 100%;
    padding: 1em 1em;
    box-sizing: border-box;

    background-color: #111;
    backdrop-filter: blur(100px);
  }

  ul.main-links {
    display: flex;
    gap: 0.5em;

    margin: 0;
    margin-left: auto;
    margin-right: 0;
    padding: 0;
  }
  .pill {
    list-style-type: none;
    margin: 0;
    padding: 5px 10px;
    border: 2px solid #666;
    border-radius: 9999px;
    cursor: pointer;

    background-color: #000;
    transition: background-color 0.5s;
  }
  .pill a {
    color: #fff !important;
  }
  /* Eliminate animations here */
  .pill a::before,
  a::after {
    display: none;
  }
  /* Other animations */
  .pill:hover {
    background-color: #404040;
  }
</style>
