<nav>
  <div class="nav-container">
    <!-- Home -->
    <a href="/"><img src="../../assets/logo.svg" width="30" /></a>

    <!-- Main links -->
    <ul class="main-links">
      <li><a class="pill" href="/">Home</a></li>
      <li><a class="pill" href="/weeks/week-1">Week 1</a></li>
      <li><a class="pill" href="/about">About</a></li>
    </ul>
  </div>
</nav>

<style>
  nav {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .nav-container {
    display: flex;
    width: 600px;
    padding: 1em 1em;

    background-color: #fff;
    backdrop-filter: blur(100px);
  }

  ul.main-links {
    display: flex;
    gap: 0.5em;

    margin: 0;
    margin-left: auto;
    margin-right: 0;
    padding: 0;
  }
  ul.main-links li {
    list-style-type: none;
  }
  .pill {
    margin: 0;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-radius: 9999px;
    cursor: pointer;
    box-sizing: content-box;

    background-color: transparent;
    transition: background-color 0.2s;
  }
  a {
    color: #000 !important;
  }
  /* Eliminate animations here */
  .pill a::before,
  a::after {
    display: none;
  }
  /* Other animations */
  .pill:hover {
    background-color: #f0f0f0;
  }
</style>
