---
import Base from '../layouts/Base.astro';
import ArticleBody from '../components/ArticleBody.astro';

const { frontmatter } = Astro.props;
---

<Base title={frontmatter.title}>
  <div slot="body">
    <main>
      <ArticleBody>
        <h1 class="title">{frontmatter.title}</h1>
        <p class="date">{frontmatter.date}</p>
        <slot />
      </ArticleBody>
    </main>
  </div>
</Base>

<style>
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0;
  }

  h1.title {
    margin-bottom: 1rem;
  }
  p.date {
    margin: 0;
    color: #888;
  }
</style>
